body {
    font-family: 'Abel', sans-serif;
	margin: 0;
	padding: 0;
	font-size:18px;
	
}
.container {

	background: url("img/img01.jpg") repeat;
	height: 89%;
}
.container h3 ,h2, p ,.categories li a, .leftSide p a{
    font-family: 'Oswald', sans-serif;
    color: #12212F;
}
.firstContainer {

	width: 79%;
	margin: 0% auto;
	height: 16%;
	padding:0% 0%;
	overflow:hidden;
}
.menuImg {

	margin: 0% auto;
	width: 78%;
	height:68%;
}
.menuImg div {
	margin-top: 24px;
}

.menu {
	float: right;
	list-style-type: none;
	width: 48%;
	margin-top: 3%;
}
.menu li {

	float: left;
	border-radius: 5px;
	font-size: 0.9em;
	padding: 1% 1%;
}
.menu .homePage {
	background: #132434;
}
.homePage a {
	color: white !important;
}
.menu li a {

	color: black;
	text-decoration: none;
	font-size:91%;
	padding: 1%;
}
ul li a{
margin-top:0%;
line-height:180%;
}
header h3 {
	float: left;
	font-size: 165%;
	margin: 3%;
}

.secondContainer {
	margin: 0 auto;
	width: 78%;
	overflow: hidden;
	padding:5% 0%;
	border-bottom: 5px solid #E9EAEE;
}
.Img {
	float: left;
	width: 23%;
	margin-top: 5%;
	margin-right: 10%;
}
.Img .button a {

	text-decoration: none;
	background-color: #132434;
	color: white;
	padding: 5%;
	border-radius: 5%;
}
.Img p {
	line-height: 145%;
	width: 120%;
}
.Img h2 {
	width: 100%;
}

.headlines {
	font-size: 166%
    color: #222222;
}
.thirdContainer{

    padding: 5% 0%;
    margin: 0 auto;
    width: 78%;
    background: #FFFFFF;
    background-color: white;
}
.leftSide {
    float: left;
    width: 63%;
    line-height: 208%;
    padding: 0% 0% 0% 0%;
    margin-bottom: 5%;
    overflow: hidden;
}
.leftSide p {
	padding: 0px 0px 20px 0px;
    text-align: justify;
}
.categories {
	line-height:230%;
	display: inline-block;
	float: right;
    width: 30%;
    margin: 0%;
    padding: 0% 0% 0% 0%;
}
.categories li a {
	color: #5B5B5B;
	padding: 0px 0px 0px 20px;
	background: url("img/arrow.jpg") no-repeat left 50%;
}
.categories ul {
	list-style-type: none;
}
.leftSide .button a{
	margin-top: 4%;
	display: inline-block;
	text-decoration: none;
	background-color: #132434;
	color: white;
	padding: 1%;
	border-radius: 5%;
}
.clear-fix {
	overflow: hidden;
	clear: both;
}
.wrapper {
	background: #F4F3EE url("img/background.jpg") repeat;
	height: 50%;
	position: absolute;
	left: 0;
	right: 0;
	width: 74%;
    overflow: hidden;
    padding: 3% 5%;
    margin: 0 auto;
}
.wrapper h2{
color:white;
}
footer h2{
	margin: 0%;
    padding: 0px 0px 20px 0px;
    font-size: 108%;
    color: #FFFFFF;
}
footer ul{
	margin: 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
}
footer ul li {
	padding: 10px 0px 10px 0px;
    border-top: 1px solid #162738;
    line-height: 160%;
}
footer ul li a{
	display: block;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    color: #93B2A0
}
footer ul #first {
	border-top: none;
    padding-top: 0px;
}
.Side1{
	float: left;
    width: 300px;
    margin-right: 50px;
}
.Side2{
	float: left;
    width: 300px;
}
.side3{
	float: right;
    width: 300px;
}
 